<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/agvs" args="--namespace=/agvs
                      joint_back_wheel_controller
                      joint_front_wheel_controller
                      joint_back_motor_wheel_controller
                      joint_front_motor_wheel_controller
                      joint_elevator_controller
                      joint_read_state_controller 
                      "/>

  <!-- Load joint controller configurations from YAcd .ML file to parameter server -->
  <rosparam file="$(find agvs_control)/config/agvs_control.yaml" command="load"/>

  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted --> 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/agvs/joint_states" />
  </node>
    
</launch>

