<?xml version="1.0"?>
<launch>

<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
  <!-- param name="output_frame" value="odom_combined"/ -->
  <!-- name of the frame and name of the topic -->
  <!-- publishes /robot_pose_ekf/odom_combined -->
  <!-- param name="output_frame" value="odom_combined"/ -->
  <param name="output_frame" value="odom"/>
  <param name="freq" value="30.0"/>
  <param name="sensor_timeout" value="1.0"/>  
  <param name="odom_used" value="true"/>
  <param name="imu_used" value="false"/>
  <param name="vo_used" value="true"/>

  <!-- remap from="odom" to="pr2_base_odometry/odom" / -->
  <!--remap from="imu_data" to="imu/data" /--> 
  <remap from="odom" to="odom_diff" />
  <remap from="vo" to="odom_ack" />

</node>

</launch>

